.wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 100vh;
}

.checkoutTitle {
    margin-top: 0rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.checkoutSection{
    display: flex;
    justify-content: center;
    justify-items: center;
    grid-row: 1;
    flex-direction: column;
    width: 50%;
    margin: auto;
}